.modal {
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1000;
}
.modal.open {
    pointer-events: auto;   
    opacity: 1;
}
.modal.open .modal-container{
    transform: scale(1);
}
.close-popup{
    color:gray;
}
.modal-close.close-popup:hover{

    
    transition:0.5s;
}
.modal-close.close-popup:hover{
    background:red;
    transform:rotate(180);
}
.modal-close {
    background-color: rgb(0 0 0 / 40%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 28px;
    color: var(--white);
    border: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}
.modal-close {
    background-color: rgb(0 0 0 / 40%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 28px;
    color: var(--white);
    border: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.modal-close i {
    transition: all 0.4s;
}

.modal-close:hover i {
    transform: rotate(180deg)
}
.modal-container {
    background-color: var(--white);
    max-height: calc(100vh - 60px);
    box-shadow: 0px 4px 30px rgb(0 0 0 / 25%);
    border-radius: 5px;
    overflow: hidden;
    overflow-y: scroll;
    overflow-y: overlay;
    position: relative;
    transform: scale(0.8);
    transition: 0.3s ease;
}
.product-detail .modal-container {
    width: 585px;
}

.signup-login .modal-container {
    width: 380px;
}

.detail-order .modal-container {
    width: 550px;
}

.detail-order-content {
    padding: 20px
}
.modal-container::-webkit-scrollbar {
    width: 5px;
    height: 0;
}

.modal-container::-webkit-scrollbar-track {
    margin: 370px 0 80px;
}

.modal-container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0);
    border-radius: 10px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 0 0 1px;
    box-shadow: rgba(255, 255, 255, 0.3) 0 0 0 1px;
}

.modal-container:hover::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.45);
}
.modal-body {
    padding: 15px 20px;
}

.product-image {
    width: 100%;
    object-fit: cover;
    max-height: 375px;
}

h2.product-title {
    color: var(--black);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;

}

.product-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.priceBox .current-price {
    color: var(--red);
    font-weight: 600;
    font-size: 17px;
}

.priceBox .old-price {
    text-decoration: line-through;
    color: #808080;
    font-size: 13px;
    margin-left: 5px;
}

.buttons_added {
    display: -ms-inline-flexbox;
    display: inline-flex;
    white-space: nowrap;
}

.is-form {
    background-color: #f9f9f9;
    height: 25px;
    width: 25px;
    border: 1px solid #ddd;
    cursor: pointer;
    line-height: 20px;
}

.is-form:focus,.input-text:focus {
    outline: none;
}

.is-form.plus,.is-form.minus {
    border-radius: 50%;
}

.input-qty {
    background-color: #fff;
    height: 25px;
    width: 30px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    margin: 0 5px;
    border: 1px solid #ddd;
    padding: 0;
    border-radius: 5px;
    outline: none;
}

.input-qty::-webkit-outer-spin-button,
.input-qty::-webkit-inner-spin-button {
    --webkit-appearance: none;
    margin: 0;
}
.product-description {
    color: var(--text-color);
    font-size: 15px;
}

.notebox {
    border-top: 1px solid #eee;
    padding: 12px 20px;
}

.notebox-title {
    color: #808080;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
}

.text-note {
    width: 100%;
    height: 100px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 15px;
    background-color: #F7F7F7;
    font-size: 14px;
}
.modal-footer {
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #eee;
    background-color: var(--white);
    position: sticky;
    bottom: 0;
}

.price-total {
    display: flex;
    flex-direction: column;
}

.price-total .thanhtien {
    color: #808080;
    font-size: 13px;
}

.price-total .price {
    color: var(--red);
    font-weight: 600;
    font-size: 16px;
}

.modal-footer-control button {
    background-color: var(--red);
    border: none;
    outline: none;
    color: var(--white);
    padding: 10px 25px;
    font-size: 15px;
    border-radius: 25px;
    font-weight: 500;
    cursor: pointer;
}
.form-close{
    background-color: rgba(0, 0, 0, .3);
    height: 30px;
    width: 30px;
    line-height: 29px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
    border-radius: 50%;
    border: none;
    outline: none;
    color: var(--white);
    cursor: pointer;
}